<div class="row dogs-listings">
	<div class="col-md-4">
			<img class= "dog-image" src='{{image}}.jpg'></img>
	</div>
	<div class="col-md-8">
		<p>{{owner_name}}</p>
		<p>{{breed}}</p>
		<p>{{shedding}}</p>
		<p>{{energy}}</p>
		<p>{{trainability}}</p>
		<p>{{kid}}</p>
		<p>{{groom}}</p>
		<p>{{drool}}</p>
		<p>{{bark}}</p>
		<p>{{independence}}</p>
		<p>{{lifespan}}</p>
		<p>{{weight}}</p>
	</div>			
</div>	